@import "tailwindcss";

@font-face {
	font-display: swap;
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/public-sans-v20-latin-regular.woff2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/public-sans-v20-latin-500.woff2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/public-sans-v20-latin-700.woff2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Timmana";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/timmana-v13-latin-regular.woff2") format("woff2");
}

@theme inline {
	/* Fonts */
	--font-public: "Public Sans", sans-serif;
	--font-timmana: "Timmana", sans-serif;

	/* Colors  */
	--color-foreground: #1b2528;
	--color-muted-blue-20: #49656e;
	--color-white: #fcfdfd;
	--color-forest-green-9: #34616f;
	--color-brick-brown-62: #15272d;
	--color-red-brick: #c6381b;
	--color-steel: #3e7383;
	--color-teal-blue: #437d8e;
	--color-sea-green: #087a2e;
	--color-sky-teal: #4bbb9f;
	--color-ocean-gray-16: #386776;
	--color-sky-teal-45: #4b8b9f;

	/* Custom Breakpoint */
	--breakpoint-xxl: 84rem; /* 1344px */

	/* Typography  */
	--text-xs-custom: 0.813rem; /* 13px */
	--text-sm-custom: 0.9375rem; /* 15px */
	--text-base-custom: 1.0625rem; /* 17px */
	--text-4xl-custom: 2.125rem; /* 34px */
}

@layer base {
	body {
		font-family: var(--font-public);
		background-color: var(--color-white);
		color: var(--color-foreground);
		line-height: 1.5;
		font-size: var(--text-sm-custom);
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
button {
  -webkit-tap-highlight-color: transparent;
}

}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
